body{
 background-image: url("Paper.gif");
}

#info {
text-align: center;
margin-bottom: 10px;
font-size: 280%;
}

#info1 {
text-align: center;
margin-bottom: 10px;
font-size: 200%;
}
#info2 {
text-align: center;
margin-bottom: 10px;

}

#departures{
position: absolute;
 right: 0px;
border: 3px solid #73AD21;
bottom: 8px;
}
#info4 {
text-align: center;
margin-bottom: 10px;
border: 3px solid #73AD21;
}
#info5 {
text-align: center;
margin-bottom: 10px;
font: italic 200% fantasy;
}





